@{
    ViewData["Title"] = "Addition Page";
}

<div class="text-center">
    <h1 class="display-4">The Addition Calculator</h1>
</div>

@{
    if(ViewBag.Result == null)
    {
        <div>
            <p>The result of your last computation is: @ViewBag.Result</p>
        </div>
    }
}
<div>
    
    <form asp-controller="Calc" asp-action="Add" method="POST"> 

          <input type="number" placeholder="First Number" name="firstNumber" />
          <input type="number" placeholder="Second Number"name="secondNumber"/>
          <button type="submit">Submit</button>

    </form>

</div>